* {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #1b2021;
}

.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #fff;
    border-radius: 10px;
    padding: 0px;
    width: 360px;

    color: #1b2021;
    border: 0px solid #0c0f0f50;
    box-shadow: 3px 3px 15px #000000;
}

.modal > h1 {
    margin: 30px;
}
.content {
    margin: 30px;
    display: none;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
    min-height: 300px;
}

.content > h3 {
    margin-bottom: 1em;
}


.validateBtn {
    border: none;
    padding: 1em 2em;
    background-color: #A6A867;
    color: #1b2021;
    font-weight: bold;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s ease;
}

.createBtn:hover {
    cursor: pointer;
    color: #1b2021;
    background-color: #ccc;
}

input {
    border: 2px solid #00000030;
    border-radius: 3px;
    padding: 0.5em 0.5em;
    margin-bottom: 1em;
    width: 100%;
}

input:focus{
    outline: 0px solid #A6A86750;
    background-color: #dedede;
}

.input_error { 
    border: 2px solid #ff000070;
    transition: all .5s ease;
}

.input_valid {
    border: 2px solid #0c680c70;
    transition: all .5s ease;
}

.error_msg {
    display: block;
    overflow: hidden;
    height: 0px;
    color: #ff000090;
    transition: all .3s ease;
}